
.factoryDiv {
  margin-top: 2rem;
}
.childDiv {
  border-left-color: black;
  border-left-style: dashed;
  border-left-width: 2px;
  padding-top: 3rem;
  padding-bottom: 0rem;
  margin-left: 2rem;
  font-size: 2rem;
}

.childHeader {
  font-size: 1.5rem;
  line-height: 0rem;

}
