.rootHead {
  color: white;
}

.rootHeadWrap {
  background-color: skyblue;
  padding: 1rem;
}

.factoryDivWrap {
  border-left-color: black;
  border-left-style: dashed;
  border-left-width: 2px;
  padding-top: 2rem;
  padding-bottom: 0rem;
}
.addFactoryBtn {
  margin-top: .5rem;
}
