<div class="container-fluid rootHeadWrap">
  <div class="row">
    <div class="col">
      <h1 class="text-center rootHead">ROOT</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="factoryDivWrap">
        <h4>----Test Content</h4>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="childDiv">
                <h4>----123465</h4>
              </div>
            </div>
          </div>
        </div>
        <button *ngIf="!showAddFactoryForm" (click)="showAddFactoryForm = true" class="btn btn-primary addFactoryBtn">Add Factory</button>
        <button *ngIf="showAddFactoryForm" (click)="showAddFactoryForm = false" class="btn btn-danger addFactoryBtn">Cancel</button>
      </div>

      <app-factory-create *ngIf="showAddFactoryForm"></app-factory-create>
    </div>
  </div>
</div>
